[
  {
    "title": "The name of the wind",
    "description": "Told in Kvothe's own voice, this is the tale of the magically gifted young man who grows to be the most notorious wizard his world has ever seen. The intimate narrative of his childhood in a troupe of traveling players, his years spent as a near-feral orphan in a crime-ridden city, his daringly brazen yet successful bid to enter a legendary school of magic, and his life as a fugitive after the murder of a king form a gripping coming-of-age story unrivaled in recent literature.",
    "author": "Patrick Rothfuss",
    "publication": "2007",
    "creation": "2021-10-26T00:00:00Z",
    "categories": ["fantasy"],
    "files": {
      "ca": null,
      "es": null,
      "en": "The name of the wind.mobi"
    }
  }
]